*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */

body{
    font-family: 'Open Sans',sans-serif;
}

/* header */

header{
    height: 70px;
    line-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;

}

header li a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 0 30px;
}

header li img{
    display: block;
    padding: 0 20px;
}



.leftnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul>li{
    list-style-type: none;
    border-bottom: 3px solid transparent;
}


.right.leftnav{
    padding: 0 20px 0 0;
}

.botton{
    display: inline-block;
    font-size: 10px;
    background-color: #0061ff;
    color: #ffffff;
    padding: 10px 20px;
    line-height: 1;
    cursor: pointer;
    border-bottom: 2px solid;

}

.botton>a{
    color: #ffffff;
}

.boxflex{
    display: flex;
}

/* mains */

h1{
    font-size: 75px;
    font-weight: 800;
    margin-bottom: 45px;
}

.text{
    font-size: 12px;
    display: block;

}

.icon{
    font-size: 40px;
    margin: 80px 0 25px;
    font-size: 30px;
}

.boxmain{
    max-width: 1100px;
    margin: 0 auto;
    padding-right: 40px;

}

.img1{
    max-width: 100%;
    display: block;
}

.firstpartbox{
    width: 30%;
    padding-right: 40px;
    margin: 80px 0 25px;
    font-size: 30px;
    
}


.secondpart{
    width: 70%;
    padding-right: 40px;
}

.jumbo{
    background-color: #b5d8e7;
    margin-top: 0;
    padding-top: 100px;
    padding-right: 40px;
}

.firstpartbox>a,span{
    margin-top: 30px;
}



/* seconda parte main */

.piani{
    padding: 65px 0 50px;
    padding-top: 150px;
}

.fattura{
    padding: 65px 0 50px;
  
}
.fatturab{
    margin-left: 40px;
}

.boxmain2{
    padding: 40px 40px 35px;
    margin-bottom: 25px;
    margin-left: 300px;
 }

